#cover.animation-start {
    background-image: url('../images/test/red_hook_water_taxi_day_overcast.jpg');
    background-size: 4000%;
    background-position: 0 0;
    -webkit-animation: play 10s steps(40);
    -webkit-animation-fill-mode: forwards;
    -moz-animation: play 10s steps(40);
    -moz-animation-fill-mode: forwards;
    -o-animation: play 10s steps(40);
    -o-animation-fill-mode: forwards;
    animation: play 10s steps(40);
    animation-fill-mode: forwards;
}
@-webkit-keyframes play {
    100% { background-position: -4000% 0;}
}
@-moz-keyframes play {
    100% { background-position: -4000% 0;}
}
@keyframes play {
    100% { background-position: -4000% 0;}
}