#cover {
    color: #fff;
}
#cover img {
    width: 80vw;
    height: auto;
}
#cover.landscape img {
    width: 60vw;
}
#cover:before {
    z-index: -2;
    background-color: #000;
}
#cover:after {
    background-image: url('../images/covers/brooklyn_rooftop_view_manhattan.jpg');
    background-size: cover;
    background-position: left center;
    filter: blur(2px);
}
.fa-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    font-size: 2rem;
    line-height: 2rem;
    color: #0071A1;
}