@keyframes play {
     100% { background-position: -1000% 0;}
 }
#cover {
    display: block;
    margin-top: 10vh;
    width: 100vw;
    height: 0;
    padding-bottom: 70vh;
    background-image: url('../images/test/monster_numbered.png');
    background-size: 1000%;
    background-position: 0 0;
    animation: play 1s steps(10);
}