.follow {
    display: flex;
    position: fixed;
    height: 50vh;
    top: 10vmax;
    z-index: 1000;
    background-color: rgba(0, 45, 64, .98);
    padding: 1rem;
}
.follow:last-of-type {
    position: static;
    height: auto;
    padding: 1rem;
}
.follow * {
    color: #fff;
}
.follow > div { /*containers for social buttons and email form*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}
textarea {
    width: 80vmin;
    border: 2px solid #fff;
    border-radius: 5px 0 0 5px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 2vw;
    background: transparent;
    vertical-align: top;
}
.follow img {
    height: 8vmax;
    width: auto;
    margin: 0 2vw;
}
.follow p {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    align-self: center;
    padding-top: 0; /*remove default padding*/
    padding-bottom: 1rem;
}
.fa-paper-plane {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 2vw;
    background-color: red;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0 5px 5px 0;
}
.fa-facebook-square {
    color: #3B5998;
}
.fa-twitter-square {
    color: #4099FF;
}
.fa-instagram {
    color: orange;
    margin: 0 10px;
}
.follow.large-screen {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    height: auto;
    width: 100vw;
}
.follow.large-screen textarea {
    width: 30vw;
    margin-left: 0;
}
.follow.large-screen img {
    height: 6vh;
    max-height: 60px;
    width: auto;
    margin-bottom: 0;
}
.follow.large-screen.fa-instagram {
    color: orange;
    margin: 0 4px;
}
.follow.large-screen > div {
    margin-bottom: 2vh;
}