#partnerships {
    justify-content: center;
    height: auto;
    padding-bottom: 15vh;
}
#partnerships p:last-child {
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 500;
    color: #0071A1;
}
#partnerships p {
    align-self: center;
}
#partnerships p:first-child {
    align-self: flex-start;
}
