#partnerships {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0 10vw;
    padding-bottom: 10vh;
    justify-content: center;
    height: auto;
}
#partnerships p:last-child {
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 500;
    color: #0071A1;
}
#partnerships p {
    align-self: center;
}
#partnerships p:first-child {
    align-self: flex-start;
}
