#story-list {
    height: auto !important;
    font-family: "open-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
}
#story-list ul {
    width: 95vw;
    justify-content: space-around;
    height: auto !important;
}
#story-list > p {
    margin-bottom: 5vh;
}
.story-list-item span.fa, #story-list span.fa {
    font-size: 10vh;
    line-height: 10vh;
}