#story-list {
    height: auto;
    font-family: "open-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 0 5vw;
}
#story-list ul {
    width: 95vw;
    justify-content: space-around;
    height: auto !important;
}
#story-list > p {
    margin-bottom: 5vh;
}
.story-list-item span.fa, #story-list span.fa {
    font-size: 10vh;
    line-height: 10vh;
}