body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#map{
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-color: lightseagreen;
}
#content_container {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
}
#list_container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightcoral;
    overflow-y: scroll;
}
.list_item {
    width: 100%;
    height: 30%;
    background: lightblue;
    padding: 0;
    margin: 0;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.thumbnail_image {
    position: relative;
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    background-color: lightgoldenrodyellow;
}
img {
    width: 100%;
    height: 100%;
}
.headline {
    position: relative;
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
    font-size: 4vh;
    text-align: center;
    background-color: lightblue;
}
#content {
    position: absolute;
    top: 70px;
    bottom: 20px;
    left: 300px;
    right: 20px;
}
#story_container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightcoral;
    overflow-y: scroll;
}
