h2 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 800;
}
h2 > span { /*headline icons*/
    margin-right: 1rem;
    font-size: 4rem !important;
    line-height: 4rem !important;
    vertical-align: middle;
}
h3 {
    font-size: 5vh;
    line-height: 5vh;
    padding: 2.5vh;
    font-weight: 100;
}
h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 1rem;
}
p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
    text-align: left;
    align-self: flex-start;
    padding-top: 1rem;
}
p:first-of-type {
    padding-top: 2rem
}
