html {
    font-family: "museo-sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 75%;
    text-align: center;
    color: #474747;
    text-size-adjust:none;
}
#story-list {
    font-family: "open-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70%;
}
h2 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 800;
}
h2 > span { /*headline icons*/
    margin-right: 1rem;
    font-size: 4rem !important;
    line-height: 4rem !important;
    vertical-align: middle;
}
h3 {
    font-size: 5vh;
    line-height: 5vh;
    padding: 2.5vh;
    font-weight: 100;
}
h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 1rem;
}
p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
    text-align: left;
    align-self: flex-start;
    padding-top: 1rem;
}
p:first-of-type {
    padding-top: 2rem
}
.scrollLink, #results-signup > p:last-child {
    color: #7BC6D4;
    font-size: 1rem;
    font-weight: 700;
}
.story-list-item-title > p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
    margin: 1.5rem 0;
}
.story-list-item span.fa, #story-list span.fa {
    font-size: 10vh;
    line-height: 10vh;
}