* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#content_container {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
}
#list_container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightcoral;
    overflow-y: scroll;
}
.list_item {
    width: 100%;
    height: 30%;
    background: lightblue;
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    margin-top: 1%;
}
.thumbnail_image {
    position: relative;
    top: 8%;
    width: 18%;
    height: 78%;
    padding: 0;
    margin: 1%;
    float: left;
    background-color: lightgoldenrodyellow;
}
img {
    width: 100%;
    height: 100%;
}
.headline {
    position: relative;
    width: 78%;
    height: 78%;
    top: 8%;
    padding: 0;
    margin: 1%;
    float: right;
    background-color: white;
}
#content {
    position: absolute;
    top: 70px;
    bottom: 20px;
    left: 300px;
    right: 20px;
}
#story_container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightcoral;
    overflow-y: scroll;
}
