*, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
ul {
    list-style-type: none;
}
button {
    width: 150px;
    appearance: none;
    color: #fff;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 3vh;
}
button.enabled {
    background-color: red;
}
button.disabled {
    background-color: #eee;
}
::-webkit-input-placeholder {
    color: #DFDFDF;
    font-size: 1rem;
}
.fa-caret-down {
    color: red;
    font-size: 10rem;
    line-height: 10rem;
    text-shadow: 0 2px 5px #000;
}
