*, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
ul {
    list-style-type: none;
}

button {
    appearance: none;
    color: #000;
    border-radius: 5px;
    padding: 3vw;
    font-size: 2rem;
    line-height: 2rem;
    background: transparent;
    border: solid 4px red;
}
textarea {
    border: 2px solid #7BC6D4;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 2vw;
    background: transparent;
    vertical-align: top
}
::-webkit-input-placeholder {
    color: #DFDFDF;
    font-size: 1rem;

}
.social-buttons {
    width: 80%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.social-buttons > div {
    width: 15vw;
    margin: 1vh;
    background-color: #0054a3;
    position: relative;
}
.social-buttons > div:before {
    content: "";
    display: block;
    padding-top: 100%;
}