*, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
ul {
    list-style-type: none;
}
button {
    width: 150px;
    appearance: none;
    color: #fff;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 4rem;
    background-color: grey;
    margin-top: 3vh;
}
textarea {
    border: 2px solid #7BC6D4;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 2vw;
    background: transparent;
    vertical-align: top
}
::-webkit-input-placeholder {
    color: #DFDFDF;
    font-size: 1rem;
}
.social-buttons {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.social-buttons > span {
    font-size: 5rem;
    line-height: 5rem;
    color: #7BC6D4;
    margin: 1vw;

}
