#follow {
    -webkit-justify-content: flex-start;
    max-width: 100vw;
}
#follow:before {
    background-image: url('../images/tin_can_phone.jpg');
    background-repeat: no-repeat;
}
#follow > form {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#follow textarea {
    width: 80vw;
    max-width: 400px;
}
#fine-print {
    font-size: 1rem;
}