#follow {
    position: fixed;
    height: 10vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
    -webkit-flex-direction: row;
}
.social-buttons > span {
    font-size: 5rem;
    line-height: 5rem;
    color: #7BC6D4;
    margin: 1vw;
}