#header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    z-index: 10000;
    background-color: rgba(0, 45, 64, .98);
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    color: #fff;
}
#header > img {
    width: 50vw;
    height: auto;
    margin-left: 3vw;
}
#header span {
    font-size: 6vh;
    line-height: 6vh;
    margin-right: 3vw;
}
#header p {
    font-size: 2vh;
    line-height: 2vh;
    margin: 0 1rem 0 0;
    padding: .25vh 0 0 0;
}