#header {
    position: fixed;
    width: 100vw;
    height: 10vmax;
    max-height: 80px;
    padding: 1vmin 0;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 45, 64, .98);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
#header > img {
    height: 8vmin;
    max-height: 70px;
    width: auto;
    margin-left: 3vw;
}
#header span {
    font-size: 6vmax;
    line-height: 6vmax;
    margin-right: 3vw;
}
#header p {
    font-size: 2vmax;
    line-height: 2vmax;
    margin: 0 1rem 0 0;
    padding: .25vh 0 0 0;
}