#intro {
    color: #fff;
}
#intro:before {
    z-index: -2;
    background-color: #000;
}
#intro:after {
    background-image: url('../images/stoop.jpg');
    background-size: cover;
    background-position: left center;
    -webkit-filter: blur(3px) grayscale(100%) brightness(60%);
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #FD000F;
    margin-top: 5vh;
}
#intro button {
    margin-top: 7vh;
}
.fa-camera-retro {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 2rem;
    line-height: 2rem;
    color: #72A9DB;
}