#intro {
    color: #fff;
}
#intro > img {
    width: 80vw;
    height: auto;
}
#intro.landscape img {
    width: 60vw;
}
#intro:before {
    z-index: -2;
    background-color: #000;
}
#intro:after {
    background-image: url('../images/cityscape_bluesky.jpg');
    background-size: cover;
    background-position: left center;
    -webkit-filter: blur(2px);
}
.fa-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    font-size: 2rem;
    line-height: 2rem;
    color: #0071A1;
}