#intro {
    color: #fff;
}
#intro:before {
    z-index: -2;
    background-color: #000;
}
#intro:after {
    background-image: url('../images/stoop2.jpg');
    background-size: cover;
    background-position: left top;
    -webkit-filter: blur(3px) grayscale(100%) brightness(50%);
}
.arrow-down {
    margin-top: 7vh;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #f00;
}
#intro button {
    margin-top: 7vh;
}
.fa-camera-retro {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 3rem;
    line-height: 3rem;
    color: #7BC6D4;

}