html {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
body {
    width: 100vw;
    height: auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
#intro, #voting-explained, #story-list, #submit, #follow, #share, #results-signup {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#intro, #intro:before, #intro:after, #voting-explained, #story-list, #submit, #submit:before, #follow, #share, #share:before {
    width: 100vw;
    height: 100vh;
}
#voting-explained, #submit, #follow, #share {
    position: relative;
}
#intro:before, #intro:after {
    top: 0;
    left: 0;
}
#intro:before, #intro:after, #share:before {
    position: absolute;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
}
#submit:before, #share:before {
    max-height: 150px;
    bottom: 0;
    background-size: contain;
    background-position: right bottom;
}
#voting-explained, #story-list, #submit, #share {
    padding-top: 10vh;
}