#story-list {
    justify-content: space-around;
    height: auto !important;
}
#story-list > h2 {
    margin-bottom: 5vh;
}
.story-list-item {
    position: relative;
    width: 95vw;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    box-shadow: 0 2px 5px 1px #888888;
}
.fa-thumbs-up:first-of-type {
    position: absolute;
    margin: auto;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 7rem;
    line-height: 7rem;
    font-weight: 900;
    color: red;
    text-shadow: 0 2px 5px #002D40;
}
.fa-thumbs-up:last-of-type {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 2rem;
    line-height: 2rem;
    z-index: 1000;
    color: #D3D3D3;
}
.story-list-item img {
    width: 100%;
}