#story-list {
    -webkit-justify-content: space-around;
    height: auto !important;
}
.story-list-item {
    width: 95vw;
    max-width: 700px;
    height: auto;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    margin-bottom: 5vh;
    -webkit-box-shadow: 0 3px 10px #888888;
}
.story-list-item:first-child {

}
.story-list-item span {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    text-align: center;
}
.story-list-item img {
    width: 100%;
}
#button-tally {
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}