#story-list {
    -webkit-justify-content: space-around;
    height: auto !important;
}
.story-list-item {
    position: relative;
    width: 95vw;
    max-width: 700px;
    height: auto;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    margin-bottom: 5vh;
    -webkit-box-shadow: 0 2px 5px 1px #888888;
}
.fa-heart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    text-align: center;
    z-index: 10000;
    color: lightgray;
}
.story-list-item img {
    width: 100%;
}
#button-tally {
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}