/*


*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
body, body > *, #content > * {
    width: 100vw;
}
#header {
    height: 10vh;
    background-color: #003650;
    top: 0;
    position: fixed;
}
#header img {
    width: 10vh;
    height: 10vh;
    background-color: #990000;
    float: left;
}
#header h1 {
    float: right;
}
#content {
    margin: 10vh 0;
    height: auto;
}
#content > * {
    height: 90vh;
}
#intro {
    text-align: center;

}
#intro > * {
    width: 100vw;
    height: 30vh;
}
#problem {
    background-color: #0054a3;
}
#problem p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#solution {
    background-color: #003650;
}
#solution h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#first-step {
    background-color: #005983;
}
#first-step p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
