                                    /*
                                    GLOBAL DEFAULTS START
                                    */
*, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: 0;
}
ul {
    list-style-type: none;
}
html {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: "museo-sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 75%;
    text-align: center;
}
button {
    appearance: none;
    color: #000;
    border-radius: 5px;
    padding: 3vw;
    font-size: 2rem;
    line-height: 2rem;
    background: transparent;
    border: solid 4px red;
}
                                    /*
                                    LAYOUT START
                                    */
#body {
    width: 100vh;
    height: auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
}
#intro, #voting-explained, #story-list, #submit, #follow, #share, #results-signup {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    margin: auto;
}
#intro, #intro:before, #intro:after, #voting-explained, #story-list, #submit, #submit:before, #follow, #follow:before, #share, #share:before, #results-signup {
    width: 100vw;
    height: 100vh
}
#intro:before, #intro:after, #submit:before, #follow:before, #share:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
}
#submit:before, #follow:before, #share:before {
    height: 50vh;
    max-width: 700px;
    top: 50vh;
    margin: auto;
    background-size: contain;
}
#intro, #voting-explained, #story-list, #submit, #follow, #share, #results-signup {
    max-width: 700px;
    padding: 10vh 10vw 0;
}
/*
                                    LAYOUT END
                                    */
                                    /*
                                    TYPOGRAPHY START
                                    */
h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    margin: 0 15vw;
}
h1 > span:first-of-type {
    font-size: 5.25rem;
    line-height: 5.25rem;
}
h1 > span {
    font-size: 2.5rem;
    line-height: 4rem;
}
h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}
h3 {
    font-size: 5vh;
    line-height: 5vh;
    padding: 2.5vh;
    font-weight: 100;
}
h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}
p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 100;
}
.story-list-item-title > p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
    margin: 1.5rem 0;
}
.fine-print {
    font-size: .5rem;
    line-height: .5rem;
    font-weight: 100;
    margin: 1rem;
}
.bold {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}
#dotell {
    color: #0003f4;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}
#intro button {
    margin-top: 7vh;
}
                                    /*
                                    GLOBAL DEFAULTS END
                                    */

                                    /*
                                    LOCAL STYLES START
                                    */
/*
    HEADER
*/
#header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .25);
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    color: #fff;

}
#header > img {
    width: auto;
    height: 8vh;
}
/*
    INTRO
*/
#intro {
    color: #fff;
}
#intro:before {
    z-index: -2;
    background-color: #000;
}
#intro:after {
    background-image: url('../images/stoop2.jpg');
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(3px) grayscale(100%) brightness(50%);
}
#your-photo {
    position: absolute;
    bottom: 10vh;
    left: 80vw;
    color: #7BC6D4;
    -webkit-transform: rotate(90deg);
}
.arrow-down {
    margin-top: 7vh;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #f00;
}
/*
    VOTE
*/
#voting-explained {
    height: 80vh;
    color: #7BC6D4;
}
#voting-explained > * {
    margin-bottom: 5vh;
}
#voting-explained > *:first-child {
    margin-top: 5vh;
}
/*
    CONTRIBUTION FORM
*/
#submit {
    position: relative;
    -webkit-justify-content: space-between;
}
#submit:before {
    background-image: url('../images/woman_concentrating.jpg');
    background-position: top;
    -webkit-filter: blur(1px) grayscale(100%);

}
#submit > form {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
textarea {
    width: 80vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: 2vw;
}
#submit button {
    background: transparent;
}
/*
    Follow
*/
#follow {
    position: relative;
    -webkit-justify-content: flex-start;
}
#follow:before {
    background-image: url('../images/tin_can_phone.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-filter: blur(1px) grayscale(100%);
}
#follow > form {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
[type=text] {
    width: 80vw;
    height: 2rem;
    padding: 0 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.social-buttons {
    width: 80%;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.social-buttons > div {
    width: 15vw;
    margin: 1vh;
    background-color: #0054a3;
    position: relative;
}
.social-buttons > div:before {
    content: "";
    display: block;
    padding-top: 100%;
}
/*
    Share
*/
#share {
    position: relative;
    -webkit-justify-content: flex-start;
}
#share:before {
    background-image: url('../images/teen-secrets.jpg');
    background-position: right top;
    -webkit-filter: blur(1px) grayscale(100%);
}


/*
    STORY
*/
#story-list {
    -webkit-justify-content: flex-start;
    padding-top: 0;
}
#story-list > span {
    color: #000;
}
.story-list-item {
    width: 80vw;
    max-width: 700px;
    height: auto;
    padding: 1.5vh;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    border-bottom: solid 1px dimgrey;
}
.story-list-item:first-child {
    border-top: solid 1px dimgrey;
}
.vote {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.plus-one {
    border-radius: 50%;
    opacity: .5;
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 4px;
    -webkit-transform: rotate(90deg);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#voting-explained .plus-one {
    width: 80px;
    height: 80px;
}
#voting-explained .plus-one, #stories .select {
    opacity: 1;
}
.red {
    background-color: #ED1C24;
}
.green {
    background-color: #009926;
}
.yellow {
    background-color: #f4da2e;
}
.story-list-item span {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    text-align: center;
}
/*
VOTING RESULTS
*/

#results-signup > h2 {
    color: red;
}

