

/*


*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
html, body {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}
#content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#header {
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    z-index: 100;
    border: solid 1px #000000;
}
#header img {
    width: 40px;
    height: 100%;
    border: solid 1px #000000;
    float: left;
}
#header h1 {
    float: right;
}
#intro {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
#problem {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
}
#problem:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    content: "";
    z-index: -1;
    background-image: url('../images/nytmes_stoop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(1px) grayscale(100%) contrast(50%);
}
#bigtext-container {
    width: 100%;
    height: 50%;
    margin: 0 auto;
}
#bigtext2-container {
    width: 100%;
    height: 50%;
    margin: 0 auto;
}
#bigtext {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 5%;
}
#bigtext span, #bigtext2 span {
    line-height: 1em;
}
#bigtext2 {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#bigtext2 button {
    Width: 40%;
    margin-left: 30%;
    appearance: none;
    background-color: #9e061b;
    color: white;
    padding: 5px;
    border-radius: 5px;

}
#voting-explained {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #003650;
}
