#submit {
    -webkit-justify-content: flex-start;
}
#submit p:last-child {
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 500;
    color: #0071A1;
}
#submit p {
    -webkit-align-self: center;
}
#submit p:first-child {
    -webkit-align-self: flex-start;
}
