#submit {
    -webkit-justify-content: flex-start;
}
#submit:before {
    background-image: url('../images/woman_concentrating.jpg');

}
#submit > div {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#submission-field {
    width: 80vw;
    max-width: 400px;
    height: 10vh;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #DFDFDF;
}
#credit-field {
    width: 80vw;
    max-width: 400px;
    border-radius: 0 0 5px 5px;
    height: 3rem;
    border-top: 1px solid #DFDFDF;
}