#submit {
    -webkit-justify-content: space-between;
}
#submit:before {
    background-image: url('../images/woman_concentrating.jpg');
    background-position: bottom;
    -webkit-filter: blur(1px) grayscale(100%);

}
#submit > form {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
textarea {
    width: 80vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: 2vw;
}
#submit button {
    background: transparent;
}