html {
    font-family: "museo-sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 75%;
    text-align: center;
}
h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
    margin: 0 15vw;
}
h1 > span {
    font-size: 2.5rem;
    line-height: 5rem;
    font-weight: 400;
}
h1 > span:last-child {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 400;
}
h2 {
    font-size: 2rem;
    line-height: 6rem;
    font-weight: 600;
    margin: 2rem 2rem 3rem;
    text-align: left;
}
h2 > span {
    margin-right: 1rem;
    font-size: 4rem !important;
    line-height: 4rem !important;
    vertical-align: middle;
}
h3 {
    font-size: 5vh;
    line-height: 5vh;
    padding: 2.5vh;
    font-weight: 100;
}
h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 1rem;
}
p {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 5vh 1.5rem;
    text-align: left;
}
.scrollLink, #results-signup > p:last-child {
    color: #7BC6D4;
    font-size: 1rem;
    font-weight: 700;
}
.story-list-item-title > p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: left;
    margin: 1.5rem 0;
}
.story-list-item span.fa, #story-list span.fa {
    font-size: 10vh;
    line-height: 10vh;
}