.vote {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.vote > span {
    color: #7BC6D4;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.vote > span.select.fa-smile-o {
    color: #009926;
}
.vote > span.select.fa-meh-o {
    color: #f4da2e;
}
.vote > span.select.fa-frown-o {
    color: #ED1C24;
}