#voting-explained:before {
    z-index: -2;
    background-color: #000;
}
#voting-explained:after {
    background-image: url('../images/brooklyn_view.jpg');
    background-size: cover;
    background-position: left top;

}
#voting-explained {
    -webkit-justify-content: space-between;
    padding-top: 20vh;
    padding-bottom: 10vh;
}